[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
django = "*"
selenium = "*"
pytest = "*"
pylint-django = "*"
django-extensions = "*"
ipython = "*"

[requires]
python_version = "3.7"
